/**
@Author：Wyunfei
@Date：2019/3/4/18:43
@FileName: 404
*/
.no-found {
  width: 100%;
  margin: 96px 0 120px;
  text-align: center;
  line-height: 24px;
  overflow: hidden;
  img {
    margin-bottom: 42px;
  }
  span, a{
    display: inline-block;
    font-size: 16px;
    color: #0e4486;
  }
  a {
   width: 157px;
    height: 48px;
    line-height: 48px;
    background: #1cc8cf;
    color: white;
    border-radius: 24px;
    margin-top: 42px;
    text-decoration: none;
  }
}
